<%= alert(notice, 'info') if notice %>

<h1 class="pb-3">Ranking</h1>

<div class="pb-3">
  <%= button_to 'Reset',
                ranking_reset_path,
                class: 'btn btn-primary',
                data: {
                  confirm: 'This will reset the ranking for today. Are you sure?'
                }
  %>
</div>

<table class="table">
  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score[:name] %></td>
        <td><%= "#{score[:wins]}-#{score[:losses]}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
